body {
  font-family: 'Quicksand', sans-serif;
  background-color: #dae2ef
}

.title {
  font-size: 64px;
  color: white
}

div.App {
  background-color: #dae2ef;
  min-height: 100vh
}

.intro {
  font-size: 24px
}

.dname {
  font-size: 30px;
  color: white
}

.dog-tags {
  font-size: 20px
}

.dtitle {
  width: 50%;
  margin-bottom: 20px
}

.dogform {
  margin-bottom: 20px
}

Input {
  margin-bottom: 20px
}

button {
  margin-bottom: 20px
}